.menu-options {
    position: absolute;
    top: 55px;
    right: 75px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*.menu-options button {*/
/*    display: block;*/
/*    width: 100%;*/
/*    padding: 8px 12px;*/
/*    margin-bottom: 5px;*/
/*    border: none;*/
/*    background-color: transparent;*/
/*    color: #333;*/
/*    cursor: pointer;*/
/*}*/

/*.menu-options button:hover {*/
/*    background-color: #f5f5f5;*/
/*}*/

.user-icon{
    height: 40px;
    margin-right: 30px;
}


